/*css file for Voidspace content pages. http://www.voidspace.org.uk
css source based on the 2 column layout from :
http://www.456bereastreet.com/lab/developing_with_web_standards/csslayout/2-col/
*/

@import url('pysrc.css');

* {
}

body {
    margin:0px;
    padding:0;
    background-color:#FFF;
    color:#000;
    min-width:850px;
    font-family: sans;
}

.document {
    padding-left: 20px;
}

#menu {
    float: right;
    margin: 10px;
    padding: 4px;
    border: 1px solid #ccf;
}

#menu h3 {
    font-size: x-small;
    text-align: left;
    padding: 0;
    margin: 0;
}

#menu ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.subsections {
    padding: 5px;
}


.subsections ul {
    list-style-type: None
}


#end {
    padding: 5px;
    font-size: x-small;
    text-align: right;
}


a, a:visited {
    text-decoration: None;
    font-weight: bold;
    color: #900;
}

a:hover {
    text-decoration: underline;
}

#nav {
    padding:5px;
    text-align:left;
    font-size:x-small;;
    font-weight:bold;
}

#nav ul {
    margin:0;
    padding:0
}

#nav li {
    display:inline;
    list-style:none;
    margin:0;
    padding:5px;
}



.title {
}

.title h1 {
}

.title img {
}

.intro {
}


.displaybox {
}

.displaybox h3 {
}


.indexblock {
    border: thick solid;
    border-color:blue;
    margin:2em;
    background-color:#edd;
    padding: 10px;
    -moz-border-radius: 10px;
}

.indexblock table {
    margin: auto;
    padding: 10px;
}



