include *.txt *.py *.sh
include AUTHORS
include COPYING
include INSTALL
recursive-include pida *
recursive-include pida-plugins *
recursive-include contrib *
recursive-include tests *
recursive-include moo *
recursive-include bin *
recursive-include tools *
recursive-include docs *

